@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-slate-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}